# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Getting substrings/Case insensitive/out/
/Topics/Getting substrings/Case insensitive/out/production/classes/
/Topics/Getting substrings/Exchange/out/
/Topics/Getting substrings/Exchange/out/production/classes/
/Topics/Processing strings/Convert a date/out/
/Topics/Processing strings/Convert a date/out/production/classes/
/Topics/Processing strings/Double characters/out/
/Topics/Processing strings/Double characters/out/production/classes/
/Topics/Processing strings/Palindrome/out/
/Topics/Processing strings/Palindrome/out/production/classes/
/Topics/Processing strings/The lucky ticket/out/
/Topics/Processing strings/The lucky ticket/out/production/classes/